<div class="thp">
  <aside>
    <h3 id="logo">The Hacking Project</h3>
    <ul class="menu">
      <li class="menu-item"><%= image_tag "Menu-Screen.png" %> <p>Aujourd'hui</p> </li>
      <li class="menu-item"><%= image_tag "Menu-Medal.png" %> <p>Missions</p> </li>
      <li class="menu-item"><%= image_tag "Menu-Community.png" %> <p>Communauté</p> </li>
      <li class="menu-item"><%= image_tag "Menu-Book.png" %> <p>Programme</p> </li>
      <li class="menu-item"><%= image_tag "Menu-Arrow.png" %> <p>Le cursus</p> </li>
      <li class="menu-item"><%= image_tag "Menu-Note.png" %> <p>Corrections</p> </li>
      <li class="menu-item"><%= image_tag "Menu-Triangle.png" %> <p>Projets Finaux</p> </li>
    </ul>
    
  </aside>

  <section>
    <nav class="thp-navbar">
        <%= image_tag "menu-4-48.png" %>

        <%= image_tag "guest-48.png" %>
    </nav>
    <article>
      <div class="thp-card">
        <p>imaginez ici une super page de profile de ouf.</p>
      </div>
      
    </article>
  </section>
</div>